#top-footer {
    background-image: url(../../public/images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

nav {
    width: 50%;

    .nav-row {
        display: flex;
        margin: 0 auto;

        .nav-col {
            flex-basis: calc(100% / 3);
            padding: 10px;
            display: flex;
            flex-direction: column;

            h4 {
                color: white;
                margin: 10px;
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;

                li a {
                    font-size: 12px;
                    text-decoration: none;
                    color: gray;
                    padding: 10px;
                }
            }
        }
    }
}



img {
    height: 400px;
}